<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sakuramiku.lightblog.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="cn.sakuramiku.lightblog.entity.Account">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="username" jdbcType="VARCHAR" property="username"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, create_time, modified_time
    </sql>

    <delete id="delete">
        delete
        from account
        where
        <choose>
            <when test="null != id">
                id = #{id,jdbcType=BIGINT}
            </when>
            <when test="null != username">
                or username = #{username,jdbcType=VARCHAR}
            </when>
            <otherwise>
                false
            </otherwise>
        </choose>

    </delete>

    <insert id="insert" parameterType="cn.sakuramiku.lightblog.entity.Account">
        insert into account (id, username, `password`, create_time)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="cn.sakuramiku.lightblog.entity.Account">
        update account
        <set>
            <if test="password != null and password !=  '' ">
                `password` = #{password,jdbcType=CHAR},
            </if>
        </set>
        where
        <choose>
            <when test="id != null">
                id = #{id,jdbcType=BIGINT}
            </when>
            <when test="username != null and username != '' ">
                username = #{username,jdbcType=VARCHAR}
            </when>
            <otherwise>
                false
            </otherwise>
        </choose>
    </update>

</mapper>