<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sakuramiku.lightblog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="cn.sakuramiku.lightblog.entity.Article">
        <id column="article_id" jdbcType="BIGINT" property="id"/>
        <result column="article_title" jdbcType="VARCHAR" property="title"/>
        <result column="article_state" jdbcType="TINYINT" property="state"/>
        <result column="article_desc" jdbcType="VARCHAR" property="desc"/>
        <result column="article_content" jdbcType="VARCHAR" property="content"/>
        <result column="article_author" jdbcType="VARCHAR" property="author"/>
        <result column="article_mark_del_time" jdbcType="TIMESTAMP" property="markDelTime"/>
        <result column="article_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="article_views" jdbcType="INTEGER" property="pageViews"/>
        <result column="article_cover_url" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="article_modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="article_mask" jdbcType="INTEGER" property="mask"/>
        <association property="category" column="article_category" javaType="cn.sakuramiku.lightblog.entity.Category">
            <id column="category_id" property="id"/>
            <result column="category_name" property="name"/>
        </association>
        <collection property="tags" resultMap="cn.sakuramiku.lightblog.mapper.TagMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        article.`id` as article_id,
        article.title as article_title,
        article.`state` as article_state,
        article.`desc` as article_desc,
        article.content as article_content,
        article.category as article_category
        article.author as article_author,
        article.mark_del_time as article_mark_del_time,
        article.page_views as article_views,
        article.cover_url as article_cover_url,
        article.mask as article_mask,
        article.modified_time as article_modified_time,
        article.create_time as article_create_time
    </sql>

    <sql id="Article_Column_List">
        <include refid="Base_Column_List"/>,
        <include refid="cn.sakuramiku.lightblog.mapper.TagMapper.Base_Column_List"/>,
        <include refid="cn.sakuramiku.lightblog.mapper.CategoryMapper.Base_Column_List"/>
    </sql>

    <sql id="Simple_Column_list">
        article.`id` as article_id, article.title as article_title, article.`state` as article_state,
        article.`desc` as article_desc,article.author as article_author,article.cover_url as article_cover_url,
        tag.`id` as tag_id, tag.`name` as tag_name,
        category.`id` category_id,category.name category_name
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Article_Column_List"/>
        from article
        left join tag on article.id = tag.reference
        left join category on article.category = category.id
        where article.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="search" parameterType="cn.sakuramiku.lightblog.vo.SearchArticleParam" resultMap="BaseResultMap">
        select
        <include refid="Simple_Column_list"/>
        from article
        left join tag on article.id = tag.reference
        left join category on article.category = category.id
        <where>
            <if test="null != keyword and ''!=keyword">
                title like concat('%',#{keyword,jdbcType=VARCHAR},'%')
            </if>
            <if test="null != begin and null != end">
                and article.create_time &gt;= #{begin,jdbcType=DATETIME}
                and article.create_time &lt;= #{end,jdbcType=DATETIME}
            </if>
        </where>
    </select>
    <select id="search_COUNT" parameterType="cn.sakuramiku.lightblog.vo.SearchArticleParam" resultType="long">
        select
        count(0)
        from article
        <where>
            <if test="null != keyword and ''!=keyword">
                title like concat('%',#{keyword,jdbcType=VARCHAR},'%')
            </if>
            <if test="null != begin and null != end">
                and article.create_time &gt;= #{begin,jdbcType=DATETIME}
                and article.create_time &lt;= #{end,jdbcType=DATETIME}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from article
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.sakuramiku.lightblog.entity.Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="title != null">
                title,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="markDelTime != null">
                mark_del_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="pageViews != null">
                page_views,
            </if>
            <if test="coverUrl != null">
                cover_url,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="mask != null">
                mask,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=TINYINT},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category.getId(),jdbcType=VARCHAR},
            </if>
            <if test="markDelTime != null">
                #{markDelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageViews != null">
                #{pageViews,jdbcType=INTEGER},
            </if>
            <if test="coverUrl != null">
                #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mask != null">
                #{mask,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.sakuramiku.lightblog.entity.Article">
        update article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=TINYINT},
            </if>
            <if test="desc != null">
                `desc` = #{desc,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="markDelTime != null">
                mark_del_time = #{markDelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageViews != null">
                page_views = #{pageViews,jdbcType=INTEGER},
            </if>
            <if test="coverUrl != null">
                cover_url = #{coverUrl,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mask != null">
                mask = #{mask,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>