<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sakuramiku.lightblog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="cn.sakuramiku.lightblog.entity.Category">
        <id column="category_id" jdbcType="BIGINT" property="id"/>
        <result column="category_name" jdbcType="VARCHAR" property="name"/>
        <result column="category_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="category_modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        category.id as category_id,
        category.`name` as category_name,
        category.create_time as category_create_time,
        category.modified_time as category_modified_time
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        <where>
            <if test="null != keyword and '' != keyword">
                name like concat('%',#{keyword},'%')
            </if>
            <if test="null != begin and null != end ">
                and create_time &gt;= #{begin,jdbcType=TIMESTAMP}
                and create_time &lt;= #{end,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by create_time DESC
    </select>
    <select id="search_COUNT" resultType="long">
        select count(0)
        from category
        <where>
            <if test="null != keyword and '' != keyword">
                name like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from category
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.sakuramiku.lightblog.entity.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                `name`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.sakuramiku.lightblog.entity.Category">
        update category
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>