<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sakuramiku.lightblog.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="cn.sakuramiku.lightblog.entity.Log">
        <id column="log_id" jdbcType="BIGINT" property="id"/>
        <result column="log_operator" jdbcType="VARCHAR" property="operator"/>
        <result column="log_action" jdbcType="VARCHAR" property="action"/>
        <result column="log_what" jdbcType="VARCHAR" property="what"/>
        <result column="log_note" jdbcType="VARCHAR" property="note"/>
        <result column="log_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="log_reference" jdbcType="VARCHAR" property="reference"/>
        <result column="log_category" jdbcType="VARCHAR" property="category"/>
        <result column="log_modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        log.id as log_id,
        log.`operator` as `log_operator`,
        log.`action` as `log_action`,
        log.what as log_what,
        log.note as log_note,
        log.create_time as log_create_time,
        log.reference as log_reference,
        log.category as log_category,
        log.modified_time as log_modified_time
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from log
        where log.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from log
        <where>
            <if test="null != ref and '' != ref">
                reference = #{ref,jdbcType=VARCHAR}
            </if>
            <if test="null != category and '' != category">
                and category = #{category}
            </if>
            <if test="null != begin and null != end">
                and create_time between #{begin,jdbcType=TIMESTAMP} and #{end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="search_COUNT" resultType="long">
        select count(0)
        from log
        <where>
            <if test="null != ref and '' != ref">
                reference = #{ref,jdbcType=VARCHAR}
            </if>
            <if test="null != category and '' != category">
                and category = #{category}
            </if>
            <if test="null != begin and null != end">
                and create_time between #{begin,jdbcType=TIMESTAMP} and #{end,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.sakuramiku.lightblog.entity.Log">
        insert into log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="operator != null">
                `operator`,
            </if>
            <if test="action != null">
                `action`,
            </if>
            <if test="what != null">
                what,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="reference != null">
                `reference`,
            </if>
            <if test="category != null">
                `category`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="action != null">
                #{action,jdbcType=VARCHAR},
            </if>
            <if test="what != null">
                #{what,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reference != null">
                #{reference,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>