<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sakuramiku.lightblog.mapper.RightMapper">
    <resultMap id="BaseResultMap" type="cn.sakuramiku.lightblog.entity.Right">
        <id column="right_id" jdbcType="BIGINT" property="id"/>
        <result column="right_pattern" jdbcType="VARCHAR" property="pattern"/>
        <result column="right_rule" jdbcType="BOOLEAN" property="rule"/>
        <result column="right_ref" jdbcType="VARCHAR" property="reference"/>
        <result column="right_create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="right_modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `right`.id as right_id,
        `right`.pattern as right_pattern,
        `right`.`rule` as right_rule,
        `right`.reference as right_ref,
        `right`.create_time as right_create_time,
        `right`.modified_time as right_modified_time
    </sql>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `right`
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `right`
        <where>
            <if test="null != ref and '' != ref ">
                reference = #{ref,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="search_COUNT" resultMap="BaseResultMap">
        select count(0)
        from `right`
        <where>
            <if test="null != ref and '' != ref ">
                reference = #{ref,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from `right`
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.sakuramiku.lightblog.entity.Right"
            useGeneratedKeys="true">
        insert into `right`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="pattern != null">
                pattern,
            </if>
            <if test="rule != null">
                `rule`,
            </if>
            <if test="reference != null">
                reference,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            id = #{id,jdbcType=BIGINT},
            <if test="pattern != null">
                #{pattern,jdbcType=VARCHAR},
            </if>
            <if test="rule != null">
                #{rule,jdbcType=BOOLEAN},
            </if>
            <if test="reference != null">
                #{reference,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="cn.sakuramiku.lightblog.entity.Right">
        update `right`
        <set>
            <if test="pattern != null">
                pattern = #{pattern,jdbcType=VARCHAR},
            </if>
            <if test="rule != null">
                `rule` = #{rule,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>